################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EncorderComponent/.vs/EncorderComponent/v16/Solution.VC.db-wal
/EncorderComponent/.vs/EncorderComponent/v16/Solution.VC.db-shm
/EncorderComponent/.vs/EncorderComponent/v16/Solution.VC.db
/EncorderComponent/.vs/EncorderComponent/v16/Browse.VC.opendb
/EncorderComponent/.vs/EncorderComponent/v16/Browse.VC.db
/EncorderComponent/.vs/EncorderComponent/v16/.suo
/.vs/slnx.sqlite
/EncorderComponent/x64/Debug/
/EncorderComponent/x64/Debug/EncoderComponent.tlog/
/EncorderComponent/x64/Debug/EncoderComponent.tlog/*.tlog
/EncorderComponent/.vs/
/.vs/*
*.tlog
*.ipch
*.obj
*.pdb
*.sarif
*.xml
*.cache
*.log
*.gitignore
