################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EncorderComponent/.vs/EncorderComponent/v16/Solution.VC.db-wal
